.Recipe {
    width: 70%;
    height: 100%;
}

.RecipeInner {
    position: relative;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.Col1, .Col2 {
    width: 49%;
    margin: 0 auto;
}

.Header {
    margin: 20px auto;
    font-size: 1.5em;
    color: var(--accent-color);
    font-weight: bold;
}

.RecipeInner input {
    text-align: center;
    margin: 0 auto 10px;
    width: 100%;
    border-radius: 5px;
}

.RecipeName {
    height: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-flow: row;
}

.RecipeNameInput {
    height: 90%;
    width: 10%;
}

.PlusButton {
    background-color: var(--accent-color);
    border: none;
    color: var(--background-color);
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    width: 10%;
    height: 8%;
}

.RecipeButtons {
    position: absolute;
    margin-top: 20px;
    bottom: 0;
    right: 0;
}

.RecipeButtons Button {
    margin-left: 8px;
}