.Support {
    margin: 100px auto;
    width: 80%;
    box-shadow: 2px 2px 5px #ccc;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 25px;
    box-sizing: border-box;
    background-color: white;
}

.Support header {
    font-size: 3em;
    font-family: inherit;
    font-weight: bold;
    color: var(--main-color);
}

.Support h1 {
    color: var(--accent-color);
}

.Support h3 {
    padding: 10px 50px;
}

.Support p {
    padding: 10px 50px;
}

.Support ul{
    color: var(--main-color);
    padding: 10px 100px;
}

@media (max-width: 500px) {
    .Support {
        margin: 75px auto;
        width: 90%;
    }

    .Support header {
        text-align: center;
        font-size: 1.5em;
    }

    .Support h3 {
        text-align: center;
        padding: 5px;
        font-size: 0.85em;
    }
    .Support h1 {
        text-align: center;
        font-size: 1.1em;
    }

    .Support p {
        padding: 5px;
        font-size: .75em;
    }

    .Support ul {
        padding: 0 0 0 25px;
        font-size: .6em;
    }
}