.Button, .MainButton, .WeightsButton, .ResultsButton, .BrowseButton {
    z-index: 3;
    margin: 2vw auto;
    background-color: var(--accent-color);
    border: none;
    color: #fff;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    font: inherit;
    font-size: 1.2vw;
    padding: 8px;
    font-weight: bold;
    box-shadow: 1px 1px 8px #888;
}

.MainButton {
    margin: 0 auto;
    font-size: 0.8vw;
}

.WeightsButton {
    margin-top: 0;
    width: 5vw;
}

.ResultsButton {
    width: 100%;
    margin: 2% auto;
    font-size: 1vw;
}

.RoundButton {
    background-color: var(--accent-color);
    border: none;
    color: #fff;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    padding: 0 5px 5px 5px;
    margin-left: 8px;
    font-size: 1em;
}

.Button:disabled, .MainButton:disabled, .WeightsButton:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}