.Button {
    margin: 2vw auto;
    background-color: var(--accent-color);
    border: none;
    color: var(--background-color);
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    font-weight: bold;
}

.Button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}