.Grid {
    background-color: #fff;
    margin: 10% auto;
    width: 90%;
}

.Table {
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

.Header {
    font-size: 3vw;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    color: var(--main-color);
}

.SubHeader {
    font-family: 'Cabin', sans-serif;
}

.IconBtn {
    margin: 0 auto;
    cursor: pointer;
}

.TableCell {
    font-size: .5vw !important;
}

.Input, .NameInput, .NotesInput {
    width: 3vw;
    text-align: left;
    font-size: inherit;
}

.NameInput {
    width: 8.5vw;
}

.NotesInput {
    width: 35vw;
}

.AmtLeftInput {
    width: 4vw;
    text-align: left;
    font-size: inherit;
    margin-top: 1vw;
}

.AmtLeft {
    display: flex;
    flex-flow: row;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
}
