.ResultsControl {
    display: grid;
    grid-template-columns: 50% 25% 25% 10%;
}

.ResultsControl p {
    margin-top: 0;
    font-family: inherit;
    font-weight: bold;
    font-size: 0.85em;
    padding-left: 20px;
    text-align: center;

}

.CalculationResult {
    text-align: center;
    color: var(--accent-color);
}