.LiquidLab {
    margin: 10vw auto;
    width: 90%;
    box-shadow: 2px 2px 10px #fff;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}

.HeaderDiv {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.Header {
    font-size: 4vw;
    margin: 0 0 0 1vw;
    padding: 0;
    font-weight: bold;
    color: var(--main-color);
}

.MlToMake {
    text-align: right;
    margin: 0 0 0 1vw;
    display: grid;
    grid-template-columns: 70% 20% 20%;
    grid-gap: 1vw;
}

.MlToMake p {
    font-size: 1.6vw;
    margin-left: 1%;
}

.Input {
    margin-top: 1.6vw;
    width: 5vw;
}

.Select {
    margin-top: 1.5vw;
    width: 35vw;
    height: 2vw;
    background-color: var(--main-color);
    color: var(--background-color);
    border-radius: 5px;
}

.Views {
    display: flex;
}

.Results{
    box-shadow: 2px 2px 5px #ccc;
    border-radius: 5px;
    background-color: var(--background-color);
    margin: 10px;
    height: 420px;
    max-height: 420px;
    width: 40%;
    overflow-y: auto;
}
.Placeholder {
    text-align: center;
    line-height: 320px;
    font-size: 3em;
    opacity: 0.2;
}

.Error {
    text-align: center;
    color: red;
    font-weight: 700;
}


.Success {
    text-align: center;
    color: darkgreen;
    font-weight: 700;
    animation-name: success;
    animation-duration: 4s;
}

@keyframes success {
    from {opacity: 1;}
    to {opacity: 0;}
}

@media (max-width: 1439px) {
    .Results {
        max-height: 684.85px;
    }
    .Placeholder {
        line-height: 365px;
    }
}

@media (max-width: 1023px) {
    .Views {
        flex-flow: column;
    }
    .Results {
        width: 95%;
        margin: 2% auto;
    }
}

@media (max-width: 520px) {
    .Header {
        text-align: center;
    }
    .Header select {
        margin: 0 auto 4% auto;
        width: 95%;

    }
}