.Results {
    width: 75%;
    margin: 0 20px 20px 20px;
    display: grid;
    grid-template-columns: 100%;
}

.Notes {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    color: var(--main-color);

}

.HeaderDiv {
    margin: 1vw auto 0;
    width: 90%;
    display: flex;
    flex-flow: row;
    justify-content: center;

}

.Header {
    font-size: 1.5em;
    color: var(--accent-color);
    font-weight: bold;
    margin-left: 3%;
    padding-top: 5px;
}

.RecipeImg {
    min-height: 100px;
    max-height: 100px;
    min-width: 100px;
    max-width: 100px;
    border-radius: 50%;
}

.Grams {
    font-weight: bold;
    font-size: 1vw;
}

.Column, .ResultCell {
    text-align: center;
}

.ResultsButton {
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 1439px) {
    .Results {
        height: 100%;
        font-size: 0.85em;
    }
}

@media (max-width: 1023px) {
    .Results {
        width: 70%;
        font-size: 0.75em;
    }
}

@media (max-width: 321px) {
    .Results {
        width: 68%;
        font-size: 0.65em;
    }
}