.QuantityControl {
    display: grid;
    grid-template-columns: 90px 45px 25px;
    grid-gap: 0;
}

.QuantityControl p {
    margin-top: 2px;
    font-family: inherit;
    font-weight: bold;
    font-size: 0.85em;
    height: 0;
}

.QuantityControl textarea {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    height: 130px;
    border-radius: 5px;
    margin: 0;
    resize: none;
    overflow: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}