.TargetControl {
    display: grid;
    grid-template-columns: 90px 45px 25px;
    grid-gap: 0;
}

.TargetControl p {
    margin-top: 2px;
    font-family: inherit;
    font-weight: bold;
    font-size: 0.85em;
    height: 0;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

@media (max-width: 520px) {
    .TargetControl {
        margin: 0 auto;
    }
}