body {
    background-color: var(--background-color);
}

.InputElement {
    outline: none;
    text-align: center;
    border-radius: 5px;
    width: 90%;
    height: 25px;
    font: inherit;
    font-size: 0.65em;
    padding: 6px;
    box-sizing: border-box;
    z-index: 99;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: salmon;
}

.AutoPopulated {
    background-color: #fcffa5;
}

@media (max-width: 500px) {
    .InputElement {
        width: 80%;
    }
}