:root {
  --main-color: #1c4f62;
  --background-color: #bcd4dd;
  --accent-color: #993333;
  --success-color: #5C9210;
  --fail-color: #c90e0e;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
  background: url('./assets/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button:hover:enabled {
  background-color: #a87825;
  transition: background-color .5s;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
