.RecipeControl {
    z-index: 99;
    display: grid;
    grid-template-columns: 15% 47% 17% 2%;
    grid-column-gap: 10px;

}

.RecipeControl p {
    text-align: left;
    margin-top: 0;
}

@media (max-width: 1439px) {
    .RecipeControl {
        grid-template-columns: 15% 55% 17% 5%;
        grid-column-gap: 10px;
    }
}

