.RecipeControl {
    z-index: 99;
    display: grid;
    grid-template-columns: 15% 47% 17% 2%;
    grid-column-gap: 10px;

}

.RecipeControl p {
    text-align: left;
    margin-top: 0;
}

.InputOptionVen, .InputOptionFlavor {
    box-shadow: 4px 4px 5px grey;
    border-radius: 5px;
    background-color: #fff;
    width: 150px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    position: absolute;
    margin-top: 25px;
}

.InputOptionVen option, .InputOptionFlavor option {
    border-bottom: 1px solid var(--main-color);
}

.InputOptionFlavor {
    margin-left: 8%
}


.InputElement {
    outline: none;
    text-align: center;
    border-radius: 5px;
    width: 90%;
    height: 25px;
    font: inherit;
    font-size: 0.65em;
    padding: 6px;
    box-sizing: border-box;
    z-index: 99;
}







@media (max-width: 1439px) {
    .RecipeControl {
        grid-template-columns: 15% 55% 17% 5%;
        grid-column-gap: 10px;
    }
}

