.RecipeControl {
    display: grid;
    grid-template-columns: 30px 150px 25px 25px;
    grid-column-gap: 10px;
}

.RecipeControl p {
    margin-top: 0;
}

.RecipeControl input {
    height: 15px;
    width: 75%;
    border-radius: 5px;
}